.registration-form-container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.registration-form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group > label {
    margin-bottom: 0;
    width: 100%;
    color: #495057;
}

