<div class="registration-form-container">
    <form #registrationForm="ngForm" class="registration-form">
        <div class="text-center">
            <img src="assets/gym-icon.png" alt="">
            <h1 class="h3 font-weight-normal">Регистрация</h1>
        </div>

        <div class="form-label-group">
            <label for="username">Имя пользователя</label>
            <input [(ngModel)]="username" type="text" id="username" name="username" class="form-control" required autofocus>
        </div>

        <div class="form-label-group">
            <label for="email">Email address</label>
            <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control"
                   required pattern="\S+@[a-z]+.[a-z]+">
        </div>

        <div class="form-label-group">
            <label for="password">Пароль</label>
            <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
                   minlength="6" required>
        </div>

        <div class="form-label-group">
            <label for="confirmPassword">Повторите пароль</label>
            <input [(ngModel)]="confirmPassword" type="password" id="confirmPassword" name="confirmPassword"
                   class="form-control" minlength="6" required>
        </div>

        <div class="d-flex flex-row">
            <label>Пол: </label>
            <div class="ml-2">
                <input type="radio" [checked]="isMaleSelected" id="male" name="gender" value="male">
                <label for="male">Мужской</label>
            </div>

            <div class="ml-2">
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Женский</label>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
    </form>
</div>
