<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand"><img src="../../assets/gym-icon.png">Workout Notes</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Новая тренировка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Мои тренировки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Настройки</a>
        </li>
    </ul>
</nav>